* {
    background: #121318;
    on-background: #e2e2e9;
    primary: #aec6ff;
    on-primary: #122f60;
    secondary: #bfc6dc;
    on-secondary: #293041;
    tertiary: #dfbbde;
    on-tertiary: #402843;
    error: #ffb4ab;
    on-error: #690005;
}